langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
openai
pandas
numpy
scikit-learn
umap-learn
faiss-cpu
python-dotenv
streamlit
python-docx
PyPDF2
torch
sentence-transformers
dotenv
pymupdf
chromadb
pytesseract